@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-brigands-expanded: var(--font-brigands-expanded);
  --font-futura-pt: var(--font-futura-pt);
  --font-antipasto-pro: var(--font-antipasto-pro);
  --color-erande-blue: #173660;
  --color-erande-red: #E03826;
  --color-erande-black: #000000;
  --color-erande-offwhite: #EBEBEB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-opacity-15 {
  background-color: rgba(255, 255, 255, 0.15);
}
.text-opacity-15 {
  color: rgba(255, 255, 255, 0.15);
}

.bg-erande-darkblue-jumbotron {
  background: linear-gradient(180deg, #0C1B30 23.94%, #173660 100%);
}

.bg-erande-red-jumbotron {
  background: linear-gradient(180deg, #C82C1B 23.94%, #E03826 100%);
}

.bg-erande-black-jumbotron {
  background: linear-gradient(180deg, #222222 23.94%, #000000 100%);
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 24px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  background: #D9D9D9;
  border-radius: 99999px;
}
 
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FFFFFF; 
    border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 99999px;
}

/* custom scrollber-mobile */
.custom-scrollbar-mobile::-webkit-scrollbar {
  height: 20px;
  width: 300px;
}

.custom-scrollbar-mobile::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 99999px;
  border:  1px solid white;
}
 
.custom-scrollbar-mobile::-webkit-scrollbar-thumb {
  background: #FFFFFF; 
    border: 2px solid transparent;
  background-clip: content-box;
  border-radius: 99999px;
}

/* Handle on hover */
/* .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */